<ion-list *ngFor="let user of userList">
  <ion-card (click)="selectedUser.emit(user.id)">
    <ion-card-header>
      <ion-card-title>{{ user.first_name }} {{ user.last_name }} dragon</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="user.avatar">
    </ion-card-content>
  </ion-card>
</ion-list>
