<ion-header>
  <ion-toolbar>
    <ion-title>User Detail</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="userDetail$ | async as user">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="auto">
        <img class="roll-left" [src]="user.avatar" style="border-radius: 25px;">
      </ion-col>
      <ion-col size="auto" offset="1">
        <ion-text color="primary">
          <h1>{{user.first_name}}</h1>
        </ion-text>
      </ion-col>
      <ion-col size="auto">
        <ion-text color="primary">
          <h1>{{user.last_name}}</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-icon name="mail-outline"></ion-icon>
        {{user.email}}
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-button type="button" (click)="moveToUpdateModal(user)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
        <ion-button type="button" color="danger" (click)="deleteUser(user.id)"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
