@mixin keyframes( $animation-name )
{
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(rollleft) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.roll-left {
    @include animation('rollleft 2s')
}
