<ion-header>
  <ion-toolbar>
    <ion-title>Créer un compte</ion-title>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
  <form #regForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Adresse email</ion-label>
        <ion-input id="email-input" name="email" type="email" [(ngModel)]="email" #emailInput=ngModel required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input id="password-input" name="password" type="password" [(ngModel)]="password" #passwordInput=ngModel
          required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Validation du mot de passe</ion-label>
        <ion-input id="password-input" name="password_conf" type="password" [(ngModel)]="password_conf"
          #passwordConfInput=ngModel required></ion-input>
      </ion-item>
    </ion-list>
  </form>
  
  <ion-button color="success" expand="block" (click)="onCreatePress()"
    [disabled]="email.length < 3 || password != password_conf || password.length < 6">
    Créer
  </ion-button>
</ion-card-content>
</ion-card>
  <ion-card *ngIf="password != password_conf">
    <ion-card-content>
      <ion-text color="danger" expand="full">
        <ion-icon name="alert-circle"></ion-icon> Mot de passes différents !
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="password.length < 6">
    <ion-card-content>
      <ion-text color="danger" expand="full">
        <ion-icon name="alert-circle"></ion-icon> Mot de passe trop court ! Il faut au moins 6 caractères.
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="success_msg">
    <ion-card-content>
      <ion-text color="success" expand="full">
        {{success_msg}}
      </ion-text>
      <ion-button color="success" expand="block" (click)="router.navigateByUrl('login');">
        Retour au login.
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="err_msg">
    <ion-card-content>
      <ion-text color="danger" expand="full">
        {{err_msg}}
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>