<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form #loginForm="ngForm">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Adresse email</ion-label>
      <ion-input id="email-input" name="email" type="email"
        [(ngModel)]="email"
        #emailInput=ngModel
        required
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input id="password-input" name="password" type="password"
       [(ngModel)]="password"
       #passwordInput=ngModel
       required
      ></ion-input>
    </ion-item>
  </ion-list>
</form>
<ion-button position="floating" size="small" color="success" (click)="loginForm.controls.email.setValue('eve.holt@reqres.in'); loginForm.controls.password.setValue('abcdef');">
  eve.holt@reqres.in
</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button id="signin-button" expand="full"
      (click)="seConnecter()" [disabled]="!loginForm.form.valid">
      Se connecter
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-button id="signin-button" expand="full" color="success"
    (click)="onCreateAccout()">
    Creer un compte
  <ion-icon slot="end" name="add-outline"></ion-icon>
</ion-button>
</ion-footer>
