<ion-list *ngFor="let user of userList">
  <ion-card class="ion-text-center">
    <ion-card-content>
      <img [src]="user.avatar" (click)="selectedUser.emit(user.id)" title="See user-detail">
      <ion-card-title >{{ user.first_name }} </ion-card-title>
      <ion-card-title >{{ user.last_name }} </ion-card-title>
      <ion-button type="button" (click)="moveToUpdateModal(user)"><ion-icon name="pencil-outline"></ion-icon></ion-button>
      <ion-button type="button" color="danger" (click)="deleteUser(user.id)"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
</ion-list>
