<ion-header>
    <ion-toolbar>
      <ion-title>Update User</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="createForm" class="max-width-400">
        <ion-list>
            <ion-item>
                <ion-label position="floating" for="firstname">Firstname*</ion-label>
                <ion-input type="text" class="form-control" formControlName="firstname" required></ion-input>
            </ion-item>
            <ion-item class="form-group">
                <ion-label position="floating" for="lastname">Lastname*</ion-label>
                <ion-input type="text" class="form-control" formControlName="lastname" required></ion-input>
            </ion-item>
            <ion-item class="form-group">
                <ion-label position="floating" for="email">Email*</ion-label>
                <ion-input type="text" class="form-control" formControlName="email" required></ion-input>
            </ion-item>
            <ion-item class="form-group">
                <ion-button class="btn generate mt-2" (click)="onSubmit(createForm.value)"
                [disabled]="!f.firstname.value || !f.lastname.value || !f.email.value">
                    Modify User
                </ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>