<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="logout()">Logout<ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="list">
    <app-user-list [userList]="userList$ | async" (selectedUser)="selectedUser($event)"></app-user-list>
  </div>
  <ion-button class="btn generate mt-2" (click)="moveToCreateModal()">
    Create User
  </ion-button>
</ion-content>